@import "./mixins";
@import "./variables";
@import "./typography";

//component sass files
@import "./components/components.navbar";
@import "./components/components.footer";
@import "./components/components.card";
@import "./components/components.nutrition";
@import "./components/components.carousel";
@import "./components/componenets.blurredimg";

//general styles

body {
  min-width: 320px;
}

.pos-rel {
  position: relative;
}

.width-70 {
  width: 70%;
}

.potato-centre-2{
  transform: scale(2);
}

.evolved-potato-wrapper {
  @include flexCenter(row);
  transform: scale(0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .evolving-potato {
    justify-self: right;
    width: 50%;
  }

  .pringles {
    justify-self: left;
    width: 50%;
  }

  .evolving-potato-divider {
    height: 100%;
    border-left: solid $darkText2 5px;
  }
}

.mash {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 0);
}

.wedges {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 0) scale(2);
}

.potato-line-wrapper {
  width: 100%;
  @include flexCenter(row);

  position: relative;
  z-index: 999;
  justify-content: space-evenly;

  @media (max-width: 460px) {
    flex-wrap: wrap;
  }

  .potato-line-icon {
    margin: 0 20px;
  }

  .potato-line {
    width: 20%;
    border-top: solid rgb(175, 173, 173) 1px;
  }

  .potato-line-sm {
    width: 10%;
    border-top: solid rgb(175, 173, 173) 1px;
  }
}

.main-content {
  @include flexCenter(column);
  margin: 0 auto;

  .image-wrapper {
    @include flexCenter(row);
    position: relative;
    z-index: 2;
    gap: 2em;
    height: 500px;
  }

  .section {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    .content-wrapper {
      @include flexCenter(column);

      margin: 0 auto;
    }

    .three-potatoes {
      transform: scale(0.6);
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 0.75rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 100;
      text-align: center;
      margin-top: 0;
    }

    .content-wrapper--2 {
      position: relative;

      h2 {
        @include subHeaders($darkText);
      }

      h3 {
        @include infoText($darkText);
      }

    }

    .content-wrapper--3 {
      position: relative;

      h2 {
        @include subHeaders($mainText1);
      }

      h3 {
        @include infoText($mainText1);
      }

      .potato-mid-3 {
        transform: scale(2.5);
        z-index: 800;

        @media (max-width: 960px) {
          transform: scale(1.5);
        }
      }
    }

    .content-wrapper--4 {
      h2 {
        @include subHeaders($darkText2);
      }

      h3 {
        @include infoText($darkText2);
      }
    }

    .content-wrapper--5 {
      h2 {
        @include subHeaders($darkText);
      }
    }

    &.section--1 {
      @include background($accentColor1);
      color: $mainText1;
      background: radial-gradient($accentColor1, $accentGradient1);
      position: relative;
      z-index: 10;
    }
    &.section--2 {
      @include background(#f1f1f1);
      position: relative;
    }
    &.section--3 {
      @include background($accentColor2);
      background: radial-gradient($accentColor2, $accentGradient2);
      // overflow: visible;
    }
    &.section--4 {
      @include background($accentColor3);
      position: relative;
      z-index: 5;
    }
    &.section--5 {
      @include background($accentColor4);
    }
    &.section--6 {
      @include background($accentColor5);
    }
  }
}
