@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin widthHeight100 {
  width: 100%;
  height: 100%;
}

@mixin background($color) {
  background-color: $color;
}

@mixin subHeaders($color) {
  color: $color;
  font-size: 2.5rem;
  font-weight: 100;
  position: relative;
  z-index: 4;
  text-align: center;
}

@mixin infoText($color) {
  color: $color;
  font-size: 1.25rem;
  font-weight: 100;
  position: relative;
  z-index: 4;
  text-align: center;
}

@mixin nutritionText() {
  position: absolute;
  color: $mainText1;
  font-size: 1.25rem;
  font-weight: 100;
}

@mixin blurImages($blurNum, $bottom, $left, $top, $right, $zIndex) {
  filter: blur($blurNum);
  position: absolute;
  z-index: $zIndex;
  bottom: $bottom;
  left: $left;
  top: $top;
  right: $right;
}

@mixin transformBlurImg($skewX, $skewY, $scale, $translateX, $translateY) {
  transform: skew($skewX, $skewY) scale($scale)
    translate($translateX, $translateY);
}
