$mainText1: #fff;
$accentColor1: #c3aa94;
$accentGradient1: #9c846e;
$darkText: rgb(139, 139, 139);
$accentColor2: #85ab75;
$accentGradient2: #5c804d;
$accentColor3: #efe0b6;
$darkText2: #8d6f32;
$accentColor4: #fff;
$accentColor5: #f0f0f0;
$cardBorder: rgb(201, 200, 200);
