$accentColor1: #c3aa94;
$accentColor1Transparent: #c3aa94ab;
$accentColor2: #85ab75;
$accentColor3: #efe0b6;
$accentColor4: #fff;
$accentColor5: #f0f0f0;
$accentColor6: #f1f1f1;
$accentGradient1: #9c846e;

$mainText1: #fff;
$black: #000;
$midColorText: rgb(177, 175, 175);
$darkText: rgb(139, 139, 139);
$darkText2: #8d6f32;

$accentGradient2: #5c804d;

$cardBorder: rgb(201, 200, 200);

$shadowInset: rgba(255, 255, 255, 0.397);
$potatoShadow1: #9c9b9b;
$potatoShadow2: #929191;

$marginCenter: 0 auto;
