.nutrition-potato-container {
  z-index: 9999;
}

.indicators {
  display: flex;
  width: 200px;
  margin: 0 auto;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, -30%);
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}

.indicator-container {
  &::after {
    content: "";
    position: absolute;
    bottom: -110px;
    color: white;
    font-weight: 100;
  }

  &.indicator-container-1 {
    &:after {
      content: "calories";
      left: -50px;
    }
  }

  &.indicator-container-2 {
    &:after {
      content: "carbohydrate";
      left: 15px;
    }
  }

  &.indicator-container-3 {
    &:after {
      content: "protein";
      right: 20px;
    }
  }

  &.indicator-container-4 {
    &:after {
      content: "fat";
      right: -35px;
    }
  }
}

.indicator {
  border-left: dashed white 2px;
  height: 100%;

  &:before {
    content: "\2022";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: inset 0 2px 8px 0 rgba(255, 255, 255, 0.397);
    border-radius: 50%;
    border: solid white 1px;
    height: 2em;
    width: 2em;
    position: absolute;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    border-top: white solid 1px;
    color: white;
  }

  &.indicator-1 {
    transform: skew(-20deg);
    &:before {
      transform: skew(20deg);
      right: -20px;
      top: -32px;
    }
    &:after {
      transform: skew(20deg);
      content: "110";
      left: -10px;
      text-align: center;
    }
  }

  &.indicator-2 {
    &:before {
      left: 55px;
      top: -32px;
    }
    &:after {
      content: "26g";
      left: 50px;
      text-align: center;
    }
  }

  &.indicator-3 {
    &:before {
      right: 55px;
      top: -32px;
    }

    &:after {
      content: "3g";

      right: 55px;
    }
  }

  &.indicator-4 {
    transform: skew(20deg);
    &:before {
      transform: skew(-20deg);
      right: -20px;
      top: -32px;
    }

    &:after {
      content: "0g";
      transform: skew(-20deg);
      right: -10px;
    }
  }
}
