//general styles

.flex {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3em;
  }
  
  .pos-rel {
    position: relative;
  }
  
  .pos-abs {
    position: absolute;
  }
  
  .width-70 {
    width: 70%;
  }