.top-left-potato-blur {
  filter: blur(10px);
  transform: skew(-0.06turn, 18deg) scale(0.7) translate(-90%, 2ex);
  position: absolute;
  z-index: 1;
}

.top-mid-potato-blur {
  filter: blur(15px);
  transform: scale(0.6) translate(100%, -80%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.bottom-left-potato-blur {
  filter: blur(35px);
  transform: scale(0.4) translate(-150%, 50%);
  position: absolute;
  z-index: 1;
}

.bottom-right-potato-blur {
  filter: blur(35px);
  transform: scale(0.7) translate(100%, 50%);
  position: absolute;
  z-index: 1;
}

.sack-left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 60%) scale(0.8);
  z-index: 700;
  filter: blur(10px);
}

.sack-right {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(100%, 60%) scale(0.8);
  filter: blur(10px);
}
