.carousel {
  height: 600px;
  width: 70%;
  margin: $marginCenter;

  div {
    @include widthHeight100;
  }

  img {
    @include widthHeight100;
    object-fit: cover;
  }
}

.carousel-track-container {
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.carousel-button-left {
  left: -50px;
}

.carousel-button-right {
  right: -50px;
}

.carousel-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .testimonial-text {
    text-align: center;
    border-bottom: solid 1px;
    width: 70%;
    font-size: 1.5rem;
    padding-bottom: 2rem;

    &:after {
      content: "\0020";
      display: block;
      position: absolute;
      bottom: -11px;
      left: 50%;
      z-index: 2;
      width: 20px;
      height: 20px;
      overflow: hidden;
      border: solid 1px $black;
      background-color: $mainText1;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

.is-hidden {
  display: none;
}

.potato-icon-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.potato-wrapper-top {
  flex-direction: column;
  row-gap: 4rem;
  

  span {
    img {
      margin: 30px;
    }
  }
}

.potato-wrapper-top-2 {
  flex-direction: column;
  right: 0;
  row-gap: 4rem;

  span {
    img {
      margin: 10px;

      &:first-child {
        right: 0px;
        bottom: 5rem;
      }
    }
  }
}

.potato-icon-wrapper-bottom {
  transform: perspective(20vw) rotateY(-10deg);
  flex-wrap: wrap;
}

.potato-icon-wrapper-bottom-2 {
  border-radius: 50%;
  perspective: 20px;
  transform: perspective(20vw) rotateY(10deg);
  flex-wrap: wrap;
}
