.primary-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: $accentColor1;
  box-shadow: 0 0 10px #5a3e3e;

  .toggle-label {
    display: none;
    font-size: 3rem;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ ul .nav-link {
  display: block;
}

.nav-links {
  @include flexCenter(row);
  justify-content: flex-end;
  font-size: 0.75rem;
  text-transform: uppercase;

  .nav-link {
    margin: 0 1em;
    list-style: none;
    transition: 350ms;

    .logo-wrapper {
      @include flexCenter(row);
    }
    &:hover {
      transform: scale(1.2);
    }

    &:first-child {
      font-size: 2rem;
      margin-right: auto;
      text-transform: initial;
    }

    a {
      text-decoration: none;
      color: $mainText1;
    }

    &.nav-link-button {
      border-radius: 15px;
      padding: 5px 10px;
      border: 1px solid $mainText1;
    }
  }
}

@media (max-width: 768px) {
  .primary-nav {
    .toggle-label {
      display: block;
      position: absolute;
      top: 0px;
      right: 1.3rem;
    }
  }

  .nav-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 2em;
  }

  .nav-link {
    display: none;

    &:first-child {
      display: block;
      margin: 0;
    }
  }
  .toggle {
    display: block;
  }
}
